body {
  font-family: "Ubuntu", monospace;
  font-size: 14px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
button {
  padding: 8px;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #eee;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
pre {
  background-color: #eee;
  margin: 0px;
}

.content {
  padding: 16px 32px;
}

.header {
  background-color: #00add8;
  color: #fff;
  padding: 16px;
  width: 100%;
  font-weight: bold;
  font-size: 32px;
}

#net-editor {
  width: 800px;
  height: 1200px;
  border: solid black 2px;
  margin-right: 16px;
}

#net-cytoscape {
  width: 800px;
  height: 1200px;
  border: solid black 2px;
}

#net-container {
  display: flex;
  align-items: flex-start;
}

#error-banner {
  color: crimson;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

.button-row {
  display: flex;
}
.button-row button {
  margin-right: 10px;
  min-width: 100px;
}
